.burger {
    max-width: 290px;
}

.bun {
    height: 40px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 99px;
    width: 290px;
    background: linear-gradient(
    180deg,
    rgba(242, 199, 5, 1) 0%,
    rgba(208, 167, 16, 1) 100%
    );
    margin-left: auto;
    margin-right: auto;
}

.bun_top {
    height: 90px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: linear-gradient(
      0deg,
      rgba(242, 199, 5, 1) 0%,
      rgba(208, 167, 16, 1) 100%
    );
}

.bun_insert {
    height: 40px;
    border-radius: 10px;
}  

.patty {
    height: 40px;
    border-radius: 99px;
    width: 260px;
    background: linear-gradient(
    180deg,
    rgba(93, 64, 0, 1) 0%,
    rgba(125, 53, 3, 1) 33%,
    rgba(121, 51, 2, 1) 62%,
    rgba(84, 42, 0, 1) 100%
    );
    border: 5px solid #794d20;
    margin-left: auto;
    margin-right: auto;
}

.lettuce {
    height: 20px;
    border-radius: 99px;
    width: 240px;
    background: linear-gradient(
    180deg,
    rgba(91, 184, 36, 1) 0%,
    rgba(183, 246, 145, 1) 100%
    );
    border: 3px solid #398b09;
    margin-left: auto;
    margin-right: auto;
}

.cheese {
    height: 30px;
    margin-bottom: -30px;
    width: 200px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: #fed800;
    margin-left: auto;
    margin-right: auto;
}

.tomato {
    height: 20px;
    width: 260px;
    border-radius: 99px;
    background: #e71818;
    margin-left: auto;
    margin-right: auto;
}
  