.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dataCard {
    display: flex;
    padding: 20px;
}