body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heroes{
  height: 350px;
  position: relative;
}

body{
  overflow-x: hidden;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

.car{
  width: 500px;
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 5px;
}

/* .card{
  min-height: 580px;
} */

.circle-green{
  background-color: #92D094;
  border-radius: 50px;
  width: 80px;
height: 80px;
}

.circle-yellow{
  background-color: #F9CC00;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  position: absolute;
bottom: 40px;
}

.circle-red{
  background-color: #dd3a2e;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 4px;
  right: 10px;
  position: absolute;
}

.circle-blue{
  background-color: #0D28A6;
  border-radius: 250px;
  width: 300px;
  height: 300px;
  position: relative;
}

.circle-logo{
  height: 32px;
  width: 32px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
}

.blue{
  width: 80%;
  height: 200px;
  border-radius: 20px 0 0 0;
  background-color: #0D28A6;
  position: absolute;
  width: 500px;
  bottom: 0;
  right: 0;
}

.cols{
  width: 100%;
  margin: auto;
  column-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.dropdown{
  border: 0.5px solid gray;
  background-color: transparent;
  width: 100%;
}

.drop-items{
  position: absolute;
  left: 15px;
}

.dropdown-toggle::after{
  right: -270px;
position: relative;
}

.fa-star{
  color: gold;
}

.logo-inner{
  position: absolute;
  left: 25%;
  top: 25%;
  color: white;
}

.items{
  width: 24%;
}

.testi{
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
  justify-content: center;
}

.testi-items{
  border-radius: 8px;
  /* height: 270px; */
  padding: 3rem;
  background-color: #F1F3FF;
}

.testi-comment{
  line-height: 20px;
}

.women{
  width: 300px;
}

.font-bold{
  font-weight: bold;
}

.font-light{
  font-weight: lighter;
}

.font-w300{
  font-weight: 300;
}

.font-w400{
  font-weight: 400;
}

.font-w700{
  font-weight: 700;
}

.font-14{
  font-size: 14px;
}

.font-16{
  font-size: 16px;
}

.font-24{
  font-size: 24px;
}

.font-36{
  font-size: 36px;
}

.w-90{
  width: 90%;
}

.w-80{
  width: 80%;
}

.w-10{
  width: 10%;
}

.font-hel{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

.spacer{
  height:150px;
}

.splide__slide{
  /* width: 619px !important; */
  width: 33% !important;
  margin: 0 10px;
}

@media screen and (max-width: 480px) {
  .items{
      width: 100%;
      margin: 20px 0;
  }

  .circle-yellow{
      top: 400px;
  }
}

