.burgermaker_container {
    height: 100%;
    display: flex;
}

.controller {
    background: #cccccc;
    width: 280px;
}

.burger_display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 0;
}