.navbar {
    width: 100%;
    background-color: rgb(13, 13, 86);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 2rem;
    font-size: large;
    font-weight: bold;
}

.list {
    display: flex;
    padding-top: 10px;
    list-style: none;
    text-decoration: none;
}

.item {
    font-weight: normal;
    margin: 15px;
}
