.page-content-wrapper {
    background: #c5c3c32a;
  }
  
  .link-page {
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .link-page span {
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5px;
  }
  
  .title {
    font-family: Helvetica;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .child-title {
    border-left: 4px solid #0D28A6;
    padding-left: 7px;
  }
  
  .child-title h3 {
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .table thead {
    background: #CFD4ED;
  }
  
  .table tbody {
    background: #fdfdfd;
  }
  
  .table tbody:first-child {
    border-top: none;
  }
  
  .link-page .row .list-select .form-select {
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #8A8A8A;
  }
  
  .link-page .row .list-select .btn {
    font-size: 14px;
  }
  
  .pagination .page-item .page-link {
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #8A8A8A;
    text-decoration: none;
  }